/* Стили для шапки */
/* Стили для шапки */
.header {
    background-color: #333; /* Цвет фона */
    color: #fff; /* Цвет текста */
    padding: 20px; /* Внутренний отступ */
    display: flex; /* Используем flexbox */
    align-items: center; /* Выравниваем элементы по вертикали */
}
/* Стили для ссылок в шапке */
.header a {
    color: #fff; /* Цвет текста */
    text-decoration: none; /* Убираем подчеркивание */
    margin: 0 10px; /* Отступы между ссылками */
}
/* Стили для логотипа в шапке */
.header_logo {
    height: 50px; /* Устанавливаем новую высоту логотипа (например, 50px) */
    margin-right: 20px; /* Отступ справа от логотипа */
}



body{
    background-color: rgb(122, 122, 122);
}

/* Общий контейнер для центрирования */
.centered-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* высота 100% экрана */
}

/* Стили для вашего содержимого */
.HOME {
    text-align: center;
}

.HOME_logo{
    height: 10%;
}