body{
    background-color: rgb(122, 122, 122);
}

/* Общий контейнер для центрирования */
.centered-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* высота 100% экрана */
}

/* Стили для вашего содержимого */
.HOME {
    text-align: center;
}