
{% extends 'base/base.html' %}

{% block title %}
  
{% endblock%}

{% block body %}
<h1>ПРОЕКТНАЯ КОМАНДА:</h1>
<div>
    <p>Ли Влада
        Роль: создание
        сайта, создание
        формы.
    </p>
    <p>Мамаева Вера
        Роль: создание
        презентации,
        создание логотипа.
    </p>
    <p> Плеханова Арина
        Роль: создание видео-
        визитки, поиск
        информации.
    </p>
    <p>Семенова Диана
        Роль: создание
        приложения, создание
        пояснительной
        записки.
    </p>
    <p>Борисов Роман
        Роль: создание
        приложения,съемка
        видео-визитки
    </p>
    <p>
        Уля Бурзаковская Роль: Team lead
    </p>
    <p>
        Перевозников Сергей 
        Роль: Team lead
    </p>
</div>

{% endblock%}