
{% extends 'base/base.html' %}

{% block title %}
  
{% endblock%}

{% block body %}
<h1>ПРОЕКТНАЯ КОМАНДА:</h1>
<div>
    <p><b>Ли Влада</b>
        Роль: создание
        сайта, создание
        формы.
    </p>
    <p><b>Мамаева Вера</b>
        Роль: создание
        презентации,
        создание логотипа.
    </p>
    <p> <b>Плеханова Арина</b>
        Роль: создание видео-
        визитки, поиск
        информации.
    </p>
    <p><b>Семенова Диана</b>
        Роль: создание
        приложения, создание
        пояснительной
        записки.
    </p>
    <p><b>Борисов Роман</b>
        Роль: создание
        приложения,съемка
        видео-визитки
    </p>
    <p>
        <b>Бурзаковская Ульяна</b>  Роль: Team lead
    </p>
    <p>
        <b>Перевозников Сергей </b>
        Роль: Team lead
    </p>
</div>

{% endblock%}