{% extends 'base/base.html' %}

{% block title %}
HOME    
{% endblock%}

{% block body %}
</body>
<main>
    <div class="centered-content">
        <img src='/static/images/logo.png' alt="Логотип"  class="HOME_logo">
        <div class="HOME">
            <h1 class="HOME">
                <div>Пожарная безопасность</div>
                <div>ООО М.О.П.С</div>
            </h1>

        </div>
    <p>Сайт для ознакомления сотрудников компании </p>
    <p>"Монтаж охранно-пожарной сигнализации" 
        с приложением "Пожарная безопасность ООО М.О.П.С"</p>
    </div>
</main>
{% endblock%}